@font-face {
    font-family: "Montserrat Medium";
    src: url(Fonts/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Arial Black";
    src: url(Fonts/Arial-Black.ttf) format("truetype");
}